/* navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 12px;
    padding: 3px 10px;
    padding-bottom: 8px;
}

/* home section */
#home {
    height: 605px;
    padding: 4px 83px;
}

#home::before {
    height: 630px;
}

#home p {
    font-size: 12px;
}

/* services */
#services {
    flex-direction: column;
}

/* #services .box {} */

#services .box img {
    height: 62px;
    width: 81px;
}

/* clients */
#client {
    flex-wrap: wrap;
}

#client img {
    width: 73px;
    height: auto;
}

/* contect us */
#contect::before{
    width: 100%;
}
#contect-box form {
    width: 80%;
}
#contect-box input{
    width: 91%;
    padding: 3.6px;
    border-radius: 10px;
}
/* footer */
/* utility class */
.h-primary {
    font-size: 30px;
}

.btw {
    font-size: 12px;
    padding: 3px 41px;
}